
.images{
    height: 200px;
    width: 200px;
}

.product{
    display: inline-block;
    border: 2px;
    border-style: dashed;
    max-width: 200px;
    margin-right: 50px;
    text-align: justify;
}